.Sleepy-header {
  display:flex;
  align-items: center;
  
  background-color: lightgreen;
  font-family : 'Avenir Black';
  padding-left: 3%;
}

.header-title {

}

.drop-downs {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}