html {
  background-color: #355B69;
  color:white;
}

body {
}

#root {
}

.App {
  display: flex;
  justify-content: center;
}

.Contents {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.Sleepy-header {
  display:flex;
  color: white;
  justify-content: center;
  background-color: #306959;
}

.header-contents {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 1160px;
}

.header-title {
  display: flex;
  /*background-color:blue;*/
}

.drop-downs {
  display: flex;
  transition: all .15s linear 0s;
  margin-left: auto;
  padding: 0px 20px 0px 20px;
  border-left: black solid;
  border-right: black solid;
  /*background-color: red;*/
}

.drop-downs:hover {
  cursor: pointer;
  box-shadow: 5px 10px 20px black inset;
}

.About-me-container {
  display: flex;
  justify-content: center;
  background-color: #244F43;
  box-shadow: 0px 0px 10px black inset;
}

.About-me-contents {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 1160px;
}

.max-container {
  display: flex;
}

.my-face {
  max-width: 150px;
  border: 10px solid #3E2F2E;
  border-radius: 5px;
  margin: 20px;
}

.Footer-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.Footer-content > a > img {
  margin: 20px;
}

.Tile-area {
  display: flex;
  justify-content: center;
}

.Tile-area-contents {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 1160px;
  flex-flow: row wrap;
  justify-content: center;
}

.Tile-container {
  background-color: #244F43;
  transition: all .15s linear 0s;
  box-shadow: 10px 10px 10px black inset;
  display: flex;
  width:300px;
  height:300px;
  margin:20px;
  border-radius: 100px;
  justify-content: center;
}

.Tile-container:hover {
  box-shadow: 20px 20px 10px black inset;
}

.Tile-contents {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Tile-contents > a {
  display:flex;
  transition: all .15s linear 0s;
  justify-content: center;
  flex-flow: column;
  width:100%;
  height: 100%;
}

.Tile-contents > a:hover {
  transform: translate(10px, 10px);
}

.Tile-contents > a:active {
  transform: translate(10px, 10px);
}

.Tile-contents > a > img {
  height: 150px;
  object-fit: contain;
}

.Tile-contents > a > h3 {
  text-align:center;
  text-decoration: none;
  margin: 1em;
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none; /* no underline */
}

